# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints

# macOS
.DS_Store

# IDE files
.vscode/
.idea/

# Build files
build/
dist/
*.egg-info/